


<div class="card bg-dark text-white mb-3 custom-card" style="max-width: 18rem;">
    <div class="card-header" >{{ pilot.name }}</div>
    <div class="card-body">
      <p class="card-text">Altura: {{ pilot.height }} cm</p>
      <p class="card-text">Peso: {{ pilot.mass }} kg</p>
      <p class="card-text">Color de cabello: {{ pilot.hair_color }}</p>
      <p class="card-text">Color de piel: {{ pilot.skin_color }}</p>
      <p class="card-text">Color de ojos: {{ pilot.eye_color }}</p>
      <p class="card-text">Año de nacimiento: {{ pilot.birth_year }}</p>
      <p class="card-text">Género: {{ pilot.gender }}</p>
    </div>
  </div>

  
  