<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="text-center">Registro</h3>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstName">Nombre</label>
              <input [(ngModel)]="registerForm.firstName" name="firstName" id="firstName" class="form-control" placeholder="Nombre" required>
            </div>
            <div class="form-group">
              <label for="lastName">Apellidos</label>
              <input [(ngModel)]="registerForm.lastName" name="lastName" id="lastName" class="form-control" placeholder="Apellidos" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="registerForm.email" name="email" id="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input [(ngModel)]="registerForm.password" name="password" id="password" type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <div class="form-group">
              <label for="address">Dirección</label>
              <input [(ngModel)]="registerForm.address" name="address" id="address" class="form-control" placeholder="Dirección" required>
            </div>
            <button type="submit" class="btn btn-warning w-100">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
